<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>队列</title>
</head>
<body>

    <h2>6.1队列的解释
        <h2>像队列这种最先进去的数据最先被取来，即“ 先进先出” 的结构，我们称为 First In First Out，简称 FIFO。</h2>
        <h2>与栈类似，队列中可以操作数据的位置也有一定的限制。在栈中，数据的添加和删除都在同一端进行，而在队列中</h2>
        <h2>则分别是在两端进行的。 队列也不能直接访问位于中间的数据，必须通过出队操作将目标数据变成首位后才能访问。</h2>
        <h2>类似于现实中排队时的队列（队尾进，队头出），插入元素的一端称为队尾，删除（取出）元素的一端称为队头。分</h2>
        <h2>别对应于入队和出队操作。</h2>
        <h2>6.2队列的实现</h2>
        <h2>线性表有顺序存储和链式存储，队列作为一种特殊的线性表，也同样存在这两种存储方式。</h2>
        <h2>顺序队列</h2>
        <h2>用数组存储队列，即利用一组地址连续的存储单元依次存放队列中的元素。为了避免当只有一个元素时，队头和队尾重合使得处理变得麻烦，</h2>
        <h2>所以引入两个指针(头尾指针)：front指针指向队头元素，rear指针指向队尾元素的下一个位置。初始化时的头尾指针，初始值均为0。入队</h2>
        <h2>时尾指针rear加1，出队时头指针front加1，头尾指针相等时队列为空。</h2>
        <h2>循环队列</h2>
        <h2>顺序队列的 “假溢出” 问题：队列的存储空间未满，却发生了溢出。比如尾指针现在虽然已经指向了最后一个位置的下一位置，但是之前队头</h2>
        <h2>也删除了一些元素，那么头指针经历若干次的加1之后，留出了很多空位置，但是顺序队列还在傻乎乎的以为再有元素入队就溢出呢！肯定不合</h2>
        <h2> 理。故循环队列诞生！所以解决"假溢出"的办法就是后面满了，就再从头开始，也就是头尾相接的循环。我们把队列的这种头尾相接的顺序存</h2>
        <h2>储结构称为循环队列。将新元素插入到第一个位置上，入队和出队仍按先进先出的原则进行，操作效率高，空间利用率高。</h2>

</body>
</html>