<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>链表</title>
</head>
<body>

<h2>5.1基本概念</h2>
<h2> 链表 （Linked List）：链表是由一组不必相连（不必相连：可以连续也可以不连续）的内存结构 （节点），按特定的顺序链接在一起的抽象数据类型。</h2>
<h2> 5.2、链表共分几类？</h2>
<h2>链表常用的有 3 类： 单链表、双向链表、循环链表。</h2>
<h2>链表的核心操作集有 3 种：插入、删除、查找（遍历）</h2>
<h2>双向链表</h2>
<h2>双向链表 [Double Linked List]：由各个内存结构通过指针 Next 和指针 Prev 链接在一起组成，每一个内存结构都存在前驱内存结构和后继内存结</h2>
<h2>构（链头没有前驱，链尾没有后继），内存结构由数据域、Prev 指针域和 Next 指针域组成。</h2>
<h2>循环链表</h2>
<h2>单向循环链表 （Circular Linked List） : 由各个内存结构通过一个指针 Next 链接在一起组成，每一个内存结构都存在后继内存结构，内存结构由</h2>
<h2>数据域和 Next 指针域组成。</h2>
<h2>双向循环链表 （Double Circular Linked List）: 由各个内存结构通过指针 Next 和指针 Prev 链接在一起组成，每一个内存结构都存在前驱内存</h2>
<h2>结构和后继内存结构，内存结构由数据域、Prev 指针域和 Next 指针域组成。</h2>

</body>
</html>